.section-tabs {

    .tabs {

        // .tabs__nav

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 220px;

            & p {
                font-style: italic;
                font-weight: 400;
                font-size: 28px;
                opacity: 0;
                padding-top: 17px;
            }
        }

        // .tabs__nav-item

        &__nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 48px;
            line-height: 57px;
            font-weight: 800;
            height: 108px;
            width: 48.1%;
            opacity: 0.5;
            transition: 1s;

            &:hover {
                opacity: 0.75;
                transition: 0.3s;
            }

            &.active {
                opacity: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 7px 10px 6px rgba(0, 0, 0, 0.25);
                height: 165px;
                width: 64.1%;
                transition: 1s;
                transition-property: height, width, background-color;

                &.active[data-tab="#tab_1"] {
                    border-radius: 0 30px 30px 0;

                    & p {
                        padding-left: 131px;
                    }
                }

                &.active[data-tab="#tab_2"] {
                    border-radius: 30px 0 0 30px;

                    & p {
                        padding-right: 88px;
                    }
                }

                &.active[data-tab="#tab_1"],
                &.active[data-tab="#tab_2"] {
                    & p {
                        visibility: visible;
                        transition: 0.3s;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .wrapper {
        .tab {

            // .tab__content

            &__content {}

            // .tab__pane

            &__pane {
                display: none;
                margin-top: 135px;

                &.active {
                    display: flex;
                    flex-direction: column;
                    gap: 100px;
                }

                &__precambrian-container {
                    width: 100%;

                    .precambrian__container-item {
                        display: flex;
                        gap: 75px;

                        .phase__discription {
                            background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                                radial-gradient(49.88% 53.75% at 50% 0%,
                                    rgba(0, 255, 240, 0.5) 0%,
                                    rgba(255, 255, 255, 0) 100%);

                            width: 39.7%;
                            height: max-content;
                            border-radius: 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            gap: 40px;

                            &-title {
                                padding-top: 30px;

                                & h2 {
                                    font-size: 32px;
                                }

                                & p {
                                    font-style: italic;
                                    padding-top: 20px;
                                    font-size: 20px;
                                }
                            }

                            &-maturation {
                                width: 48%;
                                line-height: 24px;
                                font-size: 20px;
                                padding: 10px 0 32px 0;
                            }

                            &-phenomens {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;
                                gap: 25px;
                                width: 65%;
                                padding-bottom: 30px;
                            }

                        }

                        .phase__image {
                            .karhey-moon-img {
                                position: absolute;
                                top: 55%;
                                right: 100%;
                            }

                            position: relative;
                            top: 70px;
                        }
                    }

                }
            }
        }

    }
}