.periods {
  width: 85%;
  margin: 0 auto;

  &__title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 75px;

    p {
      font-size: 24px;
    }
  }

  &-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .group-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      &__title {
        text-align: center;
        width: 354px;
        height: 85px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        

        h3 {
          font-weight: 600;
          font-size: 18px;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          font-style: italic;
        }
      }
    }

    .item {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 210px;

      img {
        width: 120px;
        margin-bottom: 35px;
      }

      &__title {
        margin-bottom: 11px;

        h3 {
          font-size: 16px;
          font-weight: 600;
        }
      }

      &__description {
        p {
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}